<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="shop-breadcrumb">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title"><%- __('Detalle Venta') %></h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%- __('Factura') %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="payment-invoice global-shadow bg-white radius-xl w-100 mb-30">
                <div class="payment-invoice__body">
                    
                    <div class="payment-invoice-qr d-flex justify-content-between mb-40 px-xl-50 px-30 py-sm-30 py-20 ">
                        <div class="d-flex justify-content-center mb-lg-0 mb-25">
                            <div class="payment-invoice-qr__number">
                                <div class="display-3">
                                    Factura
                                </div>
                                <p>No : <span>#<%-data["uuid"]%></span></p>
                                <p>Fecha : <span><%-new Date(data["created_at"]).toLocaleString('es-ES', {year: 'numeric',month: 'numeric',day: 'numeric'})%></span></p>

                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-lg-0 mb-25">
                            <div class="payment-invoice-qr__code bg-white radius-xl p-20">
                                <img src="<%- locals.base %>img/qr.png" alt="qr">
                                <p><%-data["uuid"]%></p>
                            </div>
                        </div>
                        <!-- Otro cambio 2 -->
                    </div>
                    <div class="payment-invoice-table">
                        
                        <div class="table-responsive">
                            <table id="cart" class="table table-borderless">
                                <thead>
                                    <tr class="product-cart__header">
                                        <th scope="col">#</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col" class="text-end">Precio</th>
                                        <th scope="col" class="text-end">Cantidad</th>
                                        <th scope="col" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                    const opciones = {
                                        year: 'numeric',
                                        month: 'numeric',
                                        day: 'numeric',
                                        hour: 'numeric',
                                        minute: 'numeric',
                                        };
                                    %>
                                 <% for(var i=0; i< data["items"].length; i++) {%>
                                    <tr>
                                    <th><%-i+1%></th>
                                    <td class="Product-cart-title">
                                        <div class="media  align-items-center">
                                        <div class="media-body">
                                            <h5 class="mt-0"><%-data["items"][i].producto.nombre%></h5>

                                        </div>
                                        </div>
                                    </td>
                                    <td class="unit text-end">$<%-data["items"][i].producto.precio%></td>
                                    <td class="invoice-quantity text-end"><%-data["items"][i].cantidad%></td>
                                    <td class="text-end order">$<%-data["items"][i].costo%></td>
                                    </tr>
                                <%}%>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="order-summery float-right border-0   ">
                                            <div class="total">
                                                <div class="subtotalTotal mb-0 text-end">
                                                    Subtotal :
                                                </div>
                                                                                               
                                            </div>
                                            <div class="total-money mt-2 text-end">
                                                <h6>Total :</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="total-order float-right text-end fs-14 fw-500">
                                                <p>$<%-data["total"]%></p>
                                                <h5 class="text-primary">$<%-data["total"]%></h5>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-invoice__btn mt-lg-50 pt-lg-30 mt-30 pt-20">
                            <button type="button" class="btn border rounded-pill bg-normal text-gray px-25 print-btn">
                                <img src="<%- locals.base %>img/svg/printer.svg" alt="printer" class="svg">print</button>
                            
                            <button type="button" class="btn-primary btn rounded-pill px-25 text-white download">
                                <img src="<%- locals.base %>img/svg/upload.svg" alt="upload" class="svg">Descargar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>